<div id="wrap" class="container hidden-xs hidden-sm">
    <div class="panel panel-default panel-horizontal">
        <div class="panel-body" style="text-align: center;">
            <canvas class="tags-canvas"></canvas>
            <div class="tags" style="display: none">
                <ul>
                    {% for entity in tags %}
                        <li><a href="{{ path('document_show', { 'slug': entity.medias[0].slug }) }}">{{entity.word}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <canvas class="tags-canvas"></canvas>
            <div class="tags" style="display: none">
                <ul>
                    {% for entity in types %}
                        <li><a>{{ entity.ext }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <canvas class="tags-canvas"></canvas>
            <div class="tags" style="display: none">
                <ul>
                    {% for entity in types %}
                        <li><a>{{ entity.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
