<div id="wrap" class="container">
    <div class="panel panel-default panel-horizontal">
        {% if entities is empty %}
            <p><small>{{ result }}</small></p>
        {% else %}
            <div class="panel-body" style="text-align: center;">
                <canvas id="tags-canvas" width="1100" height="200"></canvas>
                <div id="tags">
                    <ul>
                        {% for entity in entities %}
                            <li><a href="{{ path('document_show', { 'slug': entity.medias[0].slug }) }}">{{entity.word}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>
