<div class="panel  panel-primary">
    <div class="panel-heading">
        <p>Mieux notés</p>
    </div>
    <div class="panel-body">
        {% for data in datas %}
            <h3><a href="#">{{ data.name }}</a></h3>
            <em>note : {{ data.mark }}</em>
            <p class="text-right">{% if data.creationDate %}{{ data.creationDate|date('Y-m-d') }}{% endif %}</p>
        {% endfor %}
    </div>
</div>
