<div class="panel  panel-primary">
	<div class="panel-heading">
		<p>Dernié posté</p>
	</div>
	<div class="panel-body">
        <h3><a href="#">Lorem Ipsum</a></h3>
        <em>note : 7/10</em>
        <p class="text-right">2015 - 05 - 02</p>
    </div>
</div>
