{% extends '::base_admin.html.twig' %}
{% block h1 -%}
    <h1>Création du fichier déposé</h1>
{% endblock %}
{% block body -%}
    {% for data in datas %}
        <div class="well">
            <h2>{{ data.filename }} configuration</h2>
            {{ form(data.form) }}
        </div>
    {% endfor %}

    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="btn btn-default">
                <a href="{{ path('media') }}">
                    <i class="glyphicon glyphicon-backward"></i> Retour à la liste
                </a>
            </div>
        </div>
    </div>
{% endblock %}
