{% extends '::base_admin.html.twig' %}
{% block h1 -%}
    <h1>Media edit</h1>
{% endblock %}
{% block body -%}
    {% if user_id == owner_id or is_granted('ROLE_ADMIN') %}
    {{ form(edit_form) }}
    
    <textarea class="tinymce"></textarea>
    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="btn btn-default">
                <a href="{{ path('media_delete', { 'id': entity.id }) }}">
                    <i class="glyphicon glyphicon-backward"></i> Supprimer
                </a>
            </div>
            <div class="btn btn-default">
                <a href="{{ path('media') }}">
                    <i class="glyphicon glyphicon-backward"></i> Retour à la liste
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <p class="alert alert-danger">
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Vous ne disponez pas des autorisations nécessaires pour modifier ce média
    </p>
    {% endif %}
{% endblock %}
