{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Media création</h1>

    {{ form(form) }}

    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="btn btn-default">
                <a href="{{ path('media') }}">
                    <i class="glyphicon glyphicon-backward"></i> Retour à la liste
                </a>
            </div>
        </div>
    </div>
{% endblock %}
