{% if count > 1 %}
    Notifications ({{ count }})
{% else %}
    Notification ({{ count }})
{% endif %}
{% for notif in notifs %}
    <div class="notifContent">
        <ul></ul>
    </div>
{% endfor %}
