{% extends '::base_admin.html.twig' %}
{% block h1 -%}
    <h1>Bievenue sur l'admin</h1>
{% endblock %}
{% block body -%}
    <p>En tant qu’utilisateur vous pouvez <a href="{{ path('media') }}">éditer ou supprimer vos Media</a> avant leurs publications.
    <br>
    <a href="{{ path('mediacategory') }}">Gérer les catégories</a>, <a href="{{ path('mediakeyword') }}">les mots clés</a>,et <a href="{{ path('mediatype') }}">les types de média</a>.
    </p>
{% endblock %}
