{% extends '::base_admin.html.twig' %}
{% block h1 -%}
    <h1>Bievenue sur l'admin</h1>
{% endblock %}
{% block body -%}
    <p>En tant qu’utilisateur vous pouvez éditer ou supprimer vos Media avant leurs publications.
    <br>
    Gérer les catégories, les mots clés,et les types de média.
    </p>
{% endblock %}
