<div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?         pb=!1m14!1m8!1m3!1d2810.886411954109!2d5.788569000000001!3d45.209634!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5ed2eb854e3%3A0x8ab5a501a7c9f6d4!2sAries!5e0!3m2!1sfr!2sfr!4v1424949258597" width="auto" height="300" frameborder="0" style="border:0"></iframe>
</div>
<div class="contactFooter">                     
    <address><span>Aries Grenoble 8 chemin des Clos – 38240 Meylan</span><br>
    <span><tel>04 76 41 00 00</tel></span><br>
    <span><tel>04 76 41 83 22</tel></span></br>
    <span>grenoble@aries-esi.net</span></br>
    </address>
</div>  
