<div class="pull-right mg20px">
    <div>
        <input type='text' id="colorpicker" />
        <a id="palette" >&nbsp;</a>
    </div>
</div>
<div class="background-header">
    <div class="logo container">
        <a href="{{ path('index') }}"><img src="{{ asset('logo.png') }}"><span class="logoIO">IO</span></a>
    </div>
</div>

{{ render(path('menuadmin')) }}
