{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Editer un mot clef</h1>
    {{ form(edit_form) }}
    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="btn btn-default">
                <a href="{{ path('mediakeyword_delete', { 'id': entity.id }) }}">
                    <i class="glyphicon glyphicon-backward"></i> Supprimer
                </a>
            </div>
            <div class="btn btn-default">
                <a href="{{ path('mediakeyword') }}">
                    <i class="glyphicon glyphicon-backward"></i> Retour à la liste
                </a>
            </div>
        </div>
    </div>
{% endblock %}
