{% extends '::base_admin.html.twig' %}
{% block h1 -%}
    Edition d'un type de média
{% endblock %}
{% block body -%}
    {{ form(edit_form) }}

    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="btn btn-default">
                <a href="{{ path('mediatype') }}">
                    <i class="glyphicon glyphicon-backward"></i> Retour à la liste
                </a>
            </div>
            <div class="btn btn-default">
                <a href="{{ path('mediatype_delete', { 'id': entity.id }) }}">
                    <i class="glyphicon glyphicon-backward"></i> Supprimer
                </a>
            </div>
        </div>
    </div>
{% endblock %}
