{% extends '::base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block h1 %}Contactez-nous :{% endblock %}
{% block body -%}
    <div class="col-lg-7">
        {{ form(form) }}
    </div>

    <div class="col-lg-5">
      {% include '::address.html.twig' %}
    </div>

{% endblock %}
