{% extends '::base.html.twig' %}

{% block body -%}

<div class="input-group" id="form-index">
   <!--    <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span> -->

{{ render (path( 'media_main_search' ))}}
</div>


    {% endblock %}
