<div class="panel  panel-primary">
    <div class="panel-heading">
        <h2>Réseaux sociaux</h2>
    </div>

    <div class="panel-body">
        <h3>
            <a href="https://twitter.com/documentio_cdi" target="_blank">
                <i class="fa fa-twitter"></i> /documentIO_cdi
            </a>
        </h3>

        <h3>
            <a href="https://www.facebook.com/profile.php?id=100009151462304" target="_blank">
                <i class="fa fa-facebook"></i> DocumentIO
            </a>
        </h3>

        <h3>
            <a href="https://plus.google.com/u/0/115654349687008140733/about" target="_blank">
                <i class="fa fa-google-plus"></i> Aries DocumentIO
            </a>
        </h3>

    </div>
</div>
