.flip-clock-wrapper *
{
    padding: 0;
}

.flip-clock-wrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 188px;
}

.flip-clock-wrapper ul
{
    position: relative;
    float: left;
    margin: 3px;
    width: 20px;
    height: 35px;
    font-size: 80px;
    font-weight: bold;
    line-height: 87px;
    border-radius: 3px;
    background: #1b7dab;
}

.flip-clock-wrapper ul li {
    line-height: 35px;
}

.flip-clock-wrapper ul li a div
{
    height: 17px;
}

.flip-clock-wrapper ul li a div.down
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.flip-clock-wrapper ul li a div div.inn
{
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #fff;
    text-shadow: 0 1px 2px #0f455e;
    text-align: center;
    background-color: #23A3DE;
    border-radius: 3px;
    font-size: 30px;
}

.flip-clock-wrapper .flip
{
    box-shadow: 0 2px 5px rgba(11, 51, 69, 0.7);
}

.flip-clock-divider
{
    width: 15px;
    height: 43px;
}

.flip-clock-dot
{
    background: #1b7dab;
    width: 5px;
    height: 5px;
    box-shadow: 0 0 5px rgba(11, 51, 69, 0.5);
    left: 5px;
}

.flip-clock-dot.top {
  top: 12px; /* position du point du haut par rapport à la hauteur de .flip-clock-divider */
}

.flip-clock-dot.bottom {
  bottom: 12px; /* position du point du bas par rapport à la hauteur de .flip-clock-divider */
}

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, #000000));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, #000000 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, #000000));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, #000000 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 100%;
}

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, #000000 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, #000000 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, #000000 0%, rgba(0, 0, 0, 0.1) 100%;
}
