a {
    color: #23a3de!important;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #23a3de 0%, #1b7dab 100%);
    border-color: #1b7dab;
}

.btn.btn-primary {
    background-color: #23a3de!important;
    color: #ffffff!important;
}