{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>User creation</h1>

    {{ form(form) }}

        <div class="btn-toolbar">
    <div class="btn-group">
        <div class="btn btn-default">
            <a href="{{ path('user') }}">
                <i class="glyphicon glyphicon-backward"></i> Back to the list
            </a>
        </div>
                    </div>
</div>
{% endblock %}
